h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.flex {
  display: flex;
}

.contanier {
  width: 1120px;

  margin: 0 auto;
}
/*========section photo gallery====*/
.photogallery {
  max-width: 1920px;
  height: 766px;
  background: rgb(63, 169, 245, 0.07);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.photogallery-title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 4.3;
  margin-right: 602px;

  color: #000000;
}
.photogallery-list-list {
  padding-top: 44px;
  padding-bottom: 52px;
  margin-left: auto;
  align-items: center;
}

.button-photogallery {
  background-color: rgb(63, 169, 245, 0.07);
  margin: 16px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  /* Интерактивные элементы */
  color: #0061d9;
  border: 1px solid #0061d9;
  border-radius: 50%;
}

.photogallery-link {
  /* Перейти в раздел */

  width: 134px;
  height: 19px;
  left: 1222px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-decoration-line: underline;
  color: #0050b2;
}
.photogallery-options {
}
/*photogallery*/
.photogallery-list {
  padding-top: 142px;
  padding-bottom: 80px;
  flex-wrap: wrap;

  margin-top: -32px;
  margin-left: -32px;
  position: absolute;
  width: 1120px;
  height: 544px;
}
.photogallery-list-item {
  width: calc((100% - 96px) / 3);
  margin-top: 32px;
  margin-left: 32px;
}
/*========end section photo gallery======*/
